In [1]:
import pandas as pd
import numpy as np
import os

In [30]:
df = pd.read_csv('2020-09-01.csv')
df.isna().sum()

Unnamed: 0      0
id              0
body           84
created_utc     0
score           0
link_id         0
parent_id       0
vader           0
dtype: int64

In [4]:
df2 = pd.read_csv('../2021-06-01.csv')

In [24]:
index = np.where(df['body'].isna() == True)
index = df['Unnamed: 0'].iloc[index]

In [25]:
rm_df = df2.iloc[index]

In [26]:
import re
rm_df['body'].replace(r"[^a-zA-Z ]",'',regex = True,inplace=True)
# patt_find = rm_df['body'].str.findall(patt)
# valid_index = np.where(patt_find.apply(len) == 0, True, False)
# rm_df.loc[valid_index]
rm_df

/Users/jin/opt/anaconda3/envs/py_3.8/lib/python3.8/site-packages/pandas/core/series.py:4479: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().replace(

             id body  created_utc  score    link_id   parent_id
343     h16htey        1623261171      1  t3_nvwsus   t3_nvwsus
395     h16u6z0        1623266199      2  t3_nvwr1w   t3_nvwr1w
397     h16ubms        1623266253      7  t3_nvwsus  t1_h15l2iq
460     h189c4k        1623289162      1  t3_nvwsus   t3_nvwsus
807     h0t6uz2        1622997870      4  t3_ntj6q0  t1_h0t4q7z
...         ...  ...          ...    ...        ...         ...
205816  h2r2uxb        1624442342      1  t3_o5mps1  t1_h2p6qpx
206594  h2d7n70        1624140125      1  t3_o38q9c  t1_h2ctguv
206612  h2dc2gn        1624142623      2  t3_o38q9c  t1_h2dalwm
206721  h2dscm1        1624152104      1  t3_o38q9c  t1_h2drwyd
208116  h2qb1im        1624419673      2  t3_o5lhmu  t1_h2q3rep

[596 rows x 6 columns]

In [20]:
df.dropna(inplace=True)